<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
@@include("../blocks/modules/header/header.html")

<div class="right-agreement-container">
    <span>Про компанію</span>
    <span>Договір</span>
</div>
<div class="agreement-container">
    <h3>ДОГОВІР</h3>
    <h3>Пользовательское соглашение</h3>
    <h3> ДОГОВІР (ОФЕРТА)№19/12/18</h3>
    <h3> ПРО НАДАННЯ ІНФОРМАЦІЙНО-КОНСУЛЬТАЦІЙНИХ
        ПОСЛУГ В МЕРЕЖІ ІНТЕРНЕТ
    </h3>
    <div class="text-group">
        <p>
        <p>У відповідності зі статтями 633, 641, 642 Цивільного Кодексу України (далі – ЦКУ) Товариство з обмеженою
            відповідальністю «СЄОР» що діє на підставі Статуту в особі сайту (інформаційний портал) https://seor.ua в
            подальшому «КОМПАНІЯ», публікує даний публічний договір, що є договором-офертою (далі – Договір) на адресу
            як фізичних так і юридичних осіб, що іменуються в подальшому «КОРИСТУВАЧ» і має відповідну юридичну силу при
            наданню послуг, представлених на офіційному сайті (інформаційний портал) https://seor.ua КОМПАНІЇ.</p>
        <p> В Договорі, якщо зміст не потребує іншого, терміни слід тлумачити наступним чином:</p>
        <p><b>«Оферта»</b> - публічна пропозиція КОМПАНІЇ, адресована будь-якій фізичній та юридичній особі, з метою
            укласти цей Договір, на існуючих умовах, зазначених у Договорі.</p>
        <p><b>«Послуга»</b> - перелік, найменування, детальна інформація відносно послуг, що надаються, представлений на
            офіційному сайті (інформаційний портал) https://seor.ua</p>
        <p><b>«Компанія»</b> - особа, що є власником сайту (інформаційного порталу) seor.ua, послуг, що на ньому
            розміщується, але не обмежується тільки сайтом (інформаційний портал).</p>
        <p><b>«Користувач»</b> - фізична, або юридична особа, що вступили у договірні відносини із КОМПАНІЄЮ на умовах,
            зазначених у Договорі.</p>
        <p><b>«Акцепт»</b> - повне та беззаперечне прийняття КОРИСТУВАЧЕМ умов Договору.</p>
        <p><b>«Замовлення»</b> - окремі позиції із асортиментного переліку послуг, розміщенні замовлення на сайті
            (інформаційного порталу) https://seor.ua КОМПАНІЇ КОРИСТУВАЧЕМ.</p>
        <p><b>«Інтернет-площадка» </b>- наданий КОРИСТУВАЧУ від КОМПАНІЇ доступ на розміщення та відкриття веб-сторінок
            та розміщення інших облікових записів на сайті (інформаційний портал) https://seor.ua.</p>
        <p><b>«Сайт (інформаційний портал)»</b> - веб-сторінка (інтернет-сайт) КОМПАНІЇ https://seor.ua. з наданням
            послуг у сфері освіти, праці, туризму та інше.</p>
        <p><b>«Треті особи»</b> - інші користувачі сайту (інформаційний портал) https://seor.ua.</p>
        <p>Сторони було досягнуто згоди укласти наступні умови Договору, а саме:</p>
        </p>

        <p>
        <h1>1. ПРЕДМЕТ ДОГОВОРУ</h1>

        <p>1.1. Даний договір є офіційним документом та є невід’ємною частиною ОФЕРТИ. Чинна версія договору розміщена
            на офіційному сайті (інформаційний портал) КОМПАНІЇ https://seor.ua.</p>
        <p>1.2. КОМПАНІЯ надає, а КОРИСТУВАЧ приймає умови щодо порядку розміщення інтернет-площадки на сайті
            (інформаційному порталі) https://seor.ua з інформацією про послуги, контактні реквізити.</p>
        <p>1.3. Сайт (інформаційний портал) https://seor.ua КОМПАНІЇ використовується для надання послуг у сфері освіти,
            праці, туризму та інше.</p>
        <p>1.4. КОРИСТУВАЧ гарантує повну та достовірну інформацію щодо послуг розміщену на сайті (інформаційний
            порталі) https://seor.ua.</p>
        <p>1.5 КОРИСТУВАЧ самостійно на власний розсуд проводить діяльність щодо надання послуг згідно умов
            Договору.</p>

        <h1>2. МОМЕНТ УКЛАДАННЯ ДОГОВОРУ</h1>

        </p>

        <p>2.1. Текст договору є публічною офертою (відповідно до статей 633, 643 Цивільного Кодексу України.</p>
        <p>2.2. Фактом прийняття (Акцептування) КОРИСТУВАЧЕМ умов даного договору, а також інформації викладеній на
            сайті (інформаційному порталі) https://seor.ua, є проставлення відмітки (натискання на одну з
            кнопок/посилань “Зареєструватися” “Приймаю умови” або “Замовити” або “Отримати рахунок” або “Оплатити” або
            на аналогічні кнопки/посилання). КОРИСТУВАЧ після прийняття та погодження умов даного Договору у
            відповідності до ст. 642 Цивільного кодексу України підтверджує, що: інформація, що надається КОРИСТУВАЧЕМ
            щодо послуг є правильною, достовірною та актуальною;
        <p>2.3. На письмову вимогу КОРИСТУВАЧА, можливе письмове оформлення договору з підписами сторін.</p>
        <p>2.4. КОРИСТУВАЧ самостійно та за власним бажанням може оформити та викласти інформацію про послуги на сайті
            (інформаційному порталі) https://seor.ua.</p>
        <p>2.5. Оферта вступає в силу з моменту її розміщення КОМПАНІЄЮ на сайті (інформаційному порталі)
            https://seor.ua.</p>

        <h1>3. ПРАВА ТА ОБОВ’ЯЗКИ КОМПАНІЇ</h1>

        <p>
        <p>3.1. КОМПАНІЯ зобов'язується:</p>
        <p>3.1.1. Надавати послуги з розміщення на сайті (інформаційному порталі)
            https://seor.ua інтернет-площадки КОРИСТУВАЧА. 3.1.2. Не розголошувати отриману від КОРИСТУВАЧА інформацію
            та зберігати конфіденційність своїх відносин за винятком необхідності розголошення такої інформації за для
            належного виконання умов даного Договору. 3.1.3. Своєчасно інформувати КОРИСТУВАЧА про обставини (не пізніше
            2-х днів з моменту виникнення таких обставин), які перешкоджають наданню послуг. 3.2. КОМПАНІЯ має право:
        </p>
        <p>
            3.2.1. Вимагати від КОРИСТУВАЧА належного виконання умов Договору; 3.2.2. Отримувати винагороду за надані
            послуги відповідно до умов Договору; 3.2.3. Отримувати від КОРИСТУВАЧА документи та/або інформацію необхідну
            для виконання своїх обов’язків. 3.2.4. Змінити сайт (інформаційний портал) https://seor.ua на свій розсуд.
        </p>
        <p>3.2.5. Змінювати вартість і види послуг, терміни їх дії.</p>
        <p>3.2.6. Редагувати або видаляти матеріали,
            опубліковані КОРИСТУВАЧЕМ на сайті (інформаційному порталі) https://seor.ua., якщо вони завдають шкоди
            КОМПАНІЇ або третім особам, а також на свій власний розсуд без зазначення причини.</p>
        <p>3.2.7. Використовувати
            для своїх цілей матеріали, опубліковані КОРИСТУВАЧЕМ на сайті (інформаційному порталі) https://seor.ua і що
            знаходяться у відкритому доступі, зокрема, для розміщення матеріалів на сайтах партнерів.</p>
        </p>

        <h1>4. ПРАВА ТА ОБОВ’ЯЗКИ КОРИСТУВАЧА</h1>

        <p>4.1. КОРИСТУВАЧ зобов’язується:
            - Належним чином ознайомитися зі змістом Договору, умовами оплати і доставки на сайті (інформаційному
            порталі) КОМПАНІЇ https://seor.ua.
            - Виконати умови даного Договору, в повній мірі сплатити виставлені рахунки за надання послуг КОМПАНІЄЮ.</p>
        <p>4.2. Не вводити в оману третіх осіб або КОМПАНІЮ.</p>
        <p>4.3. Не створювати кілька облікових записів на сайті, якщо фактично вони належать одній і тій же особі</p>
        <p>4.4. Не розміщувати свідомо неякісну або неправдиву інформацію.</p>
        <p>4.5. КОРИСТУВАЧ має право:
            - Здійснювати надання послуг;
            - розміщувати на інтернет-площадці на сайті (інформаційному порталі) КОМПАНІЇ https://seor.ua. інформацію
            щодо
            послуг.</p>

        <h1>5. ОПЛАТА ТА ПОРЯДОК РОЗРАХУНКІВ</h1>

        <p>5.1. Послуга щодо розміщення інтернет-площадок надається КОРИСТУВАЧУ на умовах повної попередньої оплати її
            вартості згідно з виставленим рахунком КОМПАНІЄЮ. Крім того у КОРИСТУВАЧА є можливість активації послуги в
            спеціальному розділі «Придбати послугу» у визначений ним час.</p>
        <p>5.2. Рахунок та Акт наданих послуг оформлюються КОМПАНІЄЮ в електронній формі, підписуються електронним
            цифровим
            підписом та відправляються КОРИСТУВАЧУ на електронну адресу.</p>
        <p>5.3. КОРИСТУВАЧ зобов'язується протягом 5 (п’яти) робочих днів з дати отримання Акта надіслати підписаний за
            допомогою свого електронного цифрового підпису Акт наданих послуг. У разі, якщо в зазначений термін
            КОРИСТУВАЧЕМ
            не буде відправлений підписаний Акт наданих послуг, або мотивована відмова від його підписання, послуги,
            надані
            КОМПАНІЄЮ, вважаються прийнятими.</p>
        <p>5.4. Акт наданих послуг надається КОРИСТУВАЧУ виключно у разі оплати послуг на рахунок КОМПАНІЇ.</p>
        <p>5.5. Оплата за надані послуги може здійснюватися КОРИСТУВАЧЕМ як готівковим так і безготівковим способом
            через
            систему платежів (Visa та Mastercard) або за допомогою платіжних терміналів ibox, liqpay, або систем
            інтернет-банкінгу на розрахунковий рахунок КОМПАНІЇ.</p>
        <h1>6. ВІДПОВІДАЛЬНІСТЬ СТОРІН</h1>
        <p>6.1 КОМПАНІЯ не несе будь-яку відповідальність за інформацію розміщену КОРИСТУВАЧЕМ на сайті (інформаційному
            порталі) https://seor.ua.</p>
        <p>6.2. КОМПАНІЯ залишає за собою право відмовити у наданні послуг КОРИСТУВАЧУ на власний розсуд.</p>
        <p>6.3. Грошові кошти, оплачені за надані послуги КОМПАНІЄЮ КОРИСТУВАЧУ, не повертаються у наступних випадках: -
            після надання послуг КОРИСТУВАЧ бажає повернути грошові кошти; - послуги були надані, але на думку
            КОРИСТУВАЧА неналежної якості та не в повній мірі.</p>
        <p>6.4. За невиконання або неналежне виконання обов’язків за цим Договором сторони несуть відповідальність,
            передбачену чинним законодавством України.</p>
        <p>6.5. КОРИСТУВАЧ несе повну відповідальності за повноту та достовірність інформації розміщеної на сайті
            (інформаційному порталі) https://seor.ua.</p>
        <p>6.6. Усі спори між сторонами будуть вирішуватися шляхом переговорів. Якщо у ході переговорів сторони не
            досягнуть згоди – спір підлягає вирішенню згідно чинного законодавства України.</p>
        <p>6.7. КОМПАНІЯ не несе ніякої відповідальності за реалізацію та якість послуг придбаних на сайті
            (інформаційному порталі) https://seor.ua та/або за його допомогою, та/або у будь-який інший спосіб.</p>
        <h1>7. ТЕРМІН ДІЇ ДОГОВОРУ</h1>
        <p>7.1 Договір вступає в силу з моменту підписання обома сторонами і діє до повного виконання своїх договірних
            зобов’язань.</p>
        <h1>8. ГАРАНТІЇ</h1>
        <p>8.1. КОРИСТУВАЧ гарантує, що інформація яка надається (публікується) на сайті (інформаційному порталі)
            https://seor.ua є повною та достовірно та такою що відповідає дійсності.</p>
        <h1>9. КОНФЕДЕНЦІЙНІСТЬ</h1>
        <p>
        <p>9.1. КОМПАНІЯ та КОРИСТУВАЧ зобов’язуються: дотримуватися конфіденційності стосовно особистих персональних
            даних, не допускати спроби несанкціонованого використання персональних даних третіми особами.</p>
        <p>9.2. Обсяг Персональних даних Користувача та третіх осіб, по відношенню до яких здійснюється обробка і які
            можуть бути включені в бази персональних даних (у тому числі в базу персональних даних відносно розміщених
            переліку послуг, замовлень інше), визначається як будь-яка інформація про КОРИСТУВАЧА та третіх осіб (яка
            розміщена на сайті (інформаційному порталі) https://seor.ua та/або листах надісланих з його допомогою), яка
            стане відома КОМПАНІЇ, а також будь-яким третім особам, які використовують сайт (інформаційний портал)
            https://seor.ua.</p>
        <p>9.3. Обробка Персональних даних включає в себе будь-які дії та/або сукупність дій, які пов’язані зі збором,
            реєстрацією, накопиченням, зберіганням, адаптацією, зміною, поновленням, використанням та поширенням
            (реалізацією, передачею), видаленням Персональних даних КОРИСТУВАЧА та/або третіх осіб з метою забезпечення
            роботи сервісів сайту (інформаційного порталу) https://seor.ua.
        </p>
        <p>9.4. Згода КОРИСТУВАЧА на обробку його персональних даних не вимагає від КОМПАНІЇ додаткових повідомлень при
            передачі його персональних даних третім особам відповідно до норм ст. 21 Закону України «Про захист
            персональних даних».</p>
        <p>9.5. Приймаючи дану угоду, КОРИСТУВАЧ та треті особи, які використовують сайт (інформаційний портал)
            https://seor.ua підтверджують, що їм зрозумілі їх права, визначені Законом України «Про захист персональних
            даних», а також мета збору, зберігання і обробки їх персональних даних. КОРИСТУВАЧ та треті особи також
            дають згоду, що термін обробки їх персональних даних є безстроковим.</p>
        <p>9.6. КОРИСТУВАЧ може в будь-який момент змінити (оновити, доповнити) надані їм персональні дані або їх
            частину, а також параметри їх конфіденційності, скориставшись функцією редагування та налаштування доступу
            до особистої інформації, а також вимагати від КОМПАНІЇ видалення аккаунту і всіх персональних даних з бази
            даних на сайті (інформаційному порталі) https://seor.ua.</p>
        <p>9.7. Метою збору, зберігання і обробки персональних даних є надання КОРИСТУВАЧУ персоналізованих сервісів
            сайту (інформаційного порталу) https://seor.ua, у тому числі: доступ в панель керування, авторизації,
            нагадування пароля, розміщення і надсилання інформації щодо послуг, таргетування та редагування рекламних
            матеріалів, зв’язок з КОРИСТУВАЧЕМ, в тому числі відсилання повідомлень, запитів та інформації, що
            стосуються використання сайту (інформаційного порталу) https://seor.ua, надання послуг, обробка запитів
            КОРИСТУВАЧА, а також інші сервіси сайту (інформаційного порталу) https://seor.ua.</p></p>
        <h1>10. ФОРС-МАЖОРНІ ОБСТАВИНИ</h1>
        <p>10.1. Сторони звільняються від відповідальності за невиконання, чи неналежне виконання зобов’язань за умовами
            Договору на час дії форс-мажорних обставин. Під форс-мажорними обставинами розуміються надзвичайні і
            непереборні за даних умов обставини, що перешкоджають виконанню своїх зобов’язань Сторонами за цим
            Договором.
        </p>
        <p>10.2. До них відносяться: стихійні явища (землетруси, повені і т.і.), обставини суспільного життя (воєнні
            дії, надзвичайні стани, найбільші страйки, епідемії, тощо), заборонні заходи державних органів (заборона
            перевезень, валютні обмеження, міжнародні санкції, заборони на торгівлю та інше). Протягом цього часу
            Сторони не мають взаємних претензій, і кожна зі сторін приймає на себе свій ризик за наслідками
            форс-мажорних обставин.</p>
        <h1>11. ЗАКЛЮЧНІ ПОЛОЖЕННЯ</h1>
        <p>11.1. Даний Договір за юридичною силою прирівнюється до договору, укладеного в простій письмовій формі.</p>
        <p>11.2. Договір автоматично датується реальним часом прийняття (Акцепту) пропозиції КОРИСТУВАЧЕМ.</p>
        <p>11.3. КОМПАНІЯ залишає за собою право внести зміни в умови Оферти і відкликати Оферту у будь-який момент на
            власний розсуд. У разі внесення КОМПАНІЄЮ змін в Оферту, такі зміни набувають чинності з моменту розміщення
            зміненого тексту Оферти на сайті (інформаційному порталі) https://seor.ua, якщо інший термін набуття
            чинності змін не визначений додатково при такому розміщенні.
        </p>
        <p>11.4. КОРИСТУВАЧ погоджується і визнає, що внесення змін в Оферту спричиняє за собою внесення цих змін у вже
            укладений і діючий Договір між КОМПАНІЄЮ та КОРИСТУВАЧЕМ та ці зміни в Договорі набувають чинності одночасно
            з такими змінами в Оферті.
        </p>
        <p>11.5. У випадках, не передбачених цим Договором, Сторони керуються нормами чинного законодавства
            України.</p>
        <h1>12. РЕКВІЗИТИ ТА КОНТАКТИ</h1>
        <p>12.1.З усіх питань, що виникають з приводу даного Договору, будь-ласка звертайтесь до КОМПАНІЇ: Тел.: +38067
            398 111 6 e-mail: tovseor@gmail.com 12.2. Реквізити сторін:</p>
        <div class="block">
            Тел.: +380673981116
            e-mail tovseor@gmail.com
        </div>
        <p>12.2. Реквізити сторін:</p>
        <p>Користувач</p>
        <p>
        <p>Компанія</p>
        <p>ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ «СЄОР»
            р/р 26002014329601 ПАТ "АЛЬФА-БАНК"
            МФО 300346
            ЄДРПОУ 39678288</p>
        </p>
    </div>
</div>
<div class="agreement"></div>
@@include("../blocks/modules/footer/footer.html")
<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>




